<app-header></app-header>

<!--
  @component
  @name Subir Publicación
  @description Este componente permite al usuario subir una nueva publicación al sistema. El formulario incluye campos para ingresar una descripción, seleccionar una categoría, cargar una imagen y enviar la publicación.
-->
<div class="container">
  <h2>Subir Publicación</h2>

  <!--
    @form
    @description Formulario para subir una nueva publicación.
    Este formulario incluye campos para ingresar la descripción, seleccionar la categoría, y subir una imagen.
  -->
  <form (submit)="subirPublicacion()">
    
    <!--
      @field
      @name Descripción
      @type text
      @description Campo para ingresar la descripción de la publicación.
      Se utiliza para proporcionar detalles sobre la publicación.
      @required true
    -->
    <label for="descripcion">Descripción:</label>
    <input 
      type="text" 
      id="descripcion" 
      [(ngModel)]="descripcion" 
      name="descripcion" 
      required
    >

    <!--
      @field
      @name Categoría
      @type select
      @description Campo para seleccionar la categoría de la publicación.
      Este campo permite elegir entre varias categorías predefinidas para clasificar la publicación.
      @required true
    -->
    <label for="categoria">Categoría:</label>
    <select 
      id="categoria" 
      [(ngModel)]="categoria" 
      name="categoria" 
      required
    >
      <option value="">Selecciona una categoría</option>
      <option value="Informática">Informática</option>
      <option value="Cine">Cine</option>
      <option value="Maternidad">Maternidad</option>
      <option value="Gaming">Gaming</option>
      <option value="Relaciones">Relaciones</option>
    </select>

    <!--
      @field
      @name Imagen
      @type file
      @description Campo para seleccionar una imagen para la publicación.
      Permite al usuario subir una imagen asociada con la publicación.
    -->
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" (change)="onFileSelected($event)">

    <!--
      @button
      @name Subir Publicación
      @description Botón para enviar el formulario y subir la publicación al sistema.
      Este botón activa la función `subirPublicacion()`.
    -->
    <button type="submit">Subir Publicación</button>

    <!--
      @button
      @name Volver a la Página Principal
      @description Botón para redirigir al usuario a la página principal sin enviar el formulario.
      Este botón ejecuta la función `volverAPaginaPrincipal()`.
    -->
    <button type="button" (click)="volverAPaginaPrincipal()">Volver a la Página Principal</button>

    <!--
      @message
      @name Mensaje de confirmación
      @description Mensaje que se muestra si la variable `mensaje` contiene texto.
      Proporciona retroalimentación sobre el estado de la operación, por ejemplo, éxito o error.
    -->
    <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
  </form>
</div>
