<div class="titulo-principal">
  <h1>Temas Destacados</h1>
  <img src="/images/fuego.png" width="50px">
</div>

<div class="pregunta" *ngFor="let pregunta of filteredPreguntas">
  <h3>{{ pregunta.descripcion }}</h3>
  <p><strong>Autor:</strong> {{ pregunta.autor }}</p>
  <p><strong>Votos:</strong> {{ pregunta.votos }}</p>

  <!-- Mostrar la imagen si está disponible -->
  <div *ngIf="pregunta.imagen">
    <img [src]="pregunta.imagen" alt="Imagen de la pregunta" class="imagen-pregunta" />
  </div>

  <!-- Botón para votar -->
  <button class="btn-voto" (click)="votar(pregunta)" [disabled]="usuarioVotado(pregunta)">
    👍
  </button>

  <button class="btn-enviar" (click)="pregunta.mostrar = !pregunta.mostrar">
    <img src="/images/comentar.png" alt="Comentar" class="icono-comentar" style="width: 30px;">
  </button>
  
  <div *ngIf="pregunta.mostrar">
    <div *ngFor="let respuesta of pregunta.respuestas">
      <p><strong>{{ respuesta.usuario }}:</strong> {{ respuesta.texto }}</p>
    </div>

    <!-- Campo para agregar respuesta -->
    <input [(ngModel)]="nuevaRespuesta[pregunta.descripcion]" placeholder="Escribe tu respuesta" />
    <button (click)="agregarRespuesta(pregunta)" [disabled]="!nuevaRespuesta[pregunta.descripcion]?.trim()">Agregar respuesta</button>
  </div>
</div>
