/* Estilo para el contenedor principal */
.titulo-principal {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  padding: 15px;
  border-radius: 10px;
  color: black;
 
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.titulo-principal img {
  width: 40px;
  height: auto;
  
}

.btn-voto {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-voto span {
  margin-right: 8px;
}

.btn-voto:hover {
  background-color: #218838;
}


/* Estilo de cada pregunta */
.pregunta {
  background: #f9d5ff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.pregunta:hover {
  transform: scale(1.02);
}

.imagen-pregunta {
  width: 100%;  /* Ajusta el tamaño al 100% del contenedor */
  max-width: 300px;  /* Máximo tamaño de 300px */
  height: auto;  /* Mantener la relación de aspecto */
  margin-top: 10px;
}


/* Títulos de preguntas */
.pregunta h3 {
  margin: 0;
  color: #333;
  font-size: 1.2rem;
}

/* Datos de la pregunta */
.pregunta p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #555;
}

/* Botón para ver respuestas */
.btn-enviar {
  background: #c430b8;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-enviar:hover {
  background: #580554;
}

/* Contenedor de respuestas */
.pregunta div {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 3px solid #9240a9;
}

/* Estilo de cada respuesta */
.pregunta div p {
  background: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #444;
}

/* Campo de entrada de respuesta */
input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: border 0.3s ease-in-out;
}

input:focus {
  border-color: #c129d8;
  outline: none;
}

/* Botón para agregar respuesta */
button {
  background: #811178;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 5px;
  transition: background 0.3s ease;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: purple;
}

/* Responsividad */
@media (max-width: 600px) {
  .titulo-principal {
    flex-direction: column;
    text-align: center;
  }

  .titulo-principal img {
    width: 30px;
  }

  input {
    width: 100%;
  }
}
