<!-- Botón para abrir el Sidebar (encima del header) -->
<button id="sidebar-toggle" class="sidebar-btn" (click)="toggleSidebar()">☰</button>

<!-- Sidebar -->
<div id="sidebar" class="sidebar" [class.active]="isActive">
    <!-- Botón de cierre -->
  

    <!-- Título -->
    <h2 class="sidebar-title">Temas Destacados</h2>

    <!-- Lista de temas (botones) -->
    <div class="sidebar-list">
        <button class="sidebar-item" routerLink="/gaming">🎮 Gaming</button>
        <button class="sidebar-item" routerLink="/informatica">💻 Informática</button>
        <button class="sidebar-item" routerLink="/maternidad">👶 Maternidad</button>
        <button class="sidebar-item" routerLink="/cine">🎬 Cine</button>
        <button class="sidebar-item" routerLink="/relaciones">❤️ Relaciones</button>
        <button class="sidebar-item" routerLink="/tareas-domesticas">🏡 Tareas Domésticas</button>
    </div>

    <img src="/images/logo.png" style="margin-left: 30px;" alt="Sidebar Background" width="150px" class="sidebar-logo" />
</div>
