body {
    background-image: url('/images/fondo.png'); /* Asegúrate de que la imagen está en assets */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
